In [1]:
import pandas as pd
import numpy as np

In [2]:
dataframe = pd.read_csv(r"humedad_relativa.csv")
dataframe.head()

        Fecha      Hora  humedad_relativa
0  2006-03-01  07:00:00                90
1  2006-03-01  13:00:00                40
2  2006-03-01  18:00:00                50
3  2006-03-02  07:00:00                90
4  2006-03-02  13:00:00                47

In [10]:
posicion = -1
new_df = pd.DataFrame(columns=['Fecha','humedad_relativa'])
fecha_promedio = 'SinFecha'
lista=[None,None,None]

In [11]:
for fecha in dataframe['Fecha']:
    #fecha='2006-03-01'
    #posicion=1
    posicion = posicion + 1
    if posicion==8218:
        break
    else:
        if fecha_promedio != fecha:
            new_df.at[posicion, 'Fecha'] = fecha
            lista[0] = dataframe.loc[posicion,'humedad_relativa']
            if dataframe.loc[posicion+1,'Fecha'] != dataframe.loc[posicion,'Fecha']:
                new_df.at[posicion, 'humedad_relativa'] = lista[0]
                lista=[None,None,None]
        else:
            if lista[1] == None:
                lista[1] = dataframe.loc[posicion,'humedad_relativa']
                if dataframe.loc[posicion+1,'Fecha'] != dataframe.loc[posicion,'Fecha']:
                    for i in range(len(lista)):
                        if lista[i] == None:
                            lista.pop(i)
                    humedad_promedio = np.mean(lista)
                    new_df.at[posicion-1, 'humedad_relativa'] = humedad_promedio
                    lista=[None,None,None]
            else:
                lista[2] = dataframe.loc[posicion,'humedad_relativa']
                for i in range(len(lista)):
                    if lista[i] == None:
                        lista.pop(i)
                humedad_promedio = np.mean(lista)
                new_df.at[posicion-2, 'humedad_relativa'] = humedad_promedio
                lista=[None,None,None]
        fecha_promedio = fecha
new_df.head(10)

         Fecha humedad_relativa
0   2006-03-01               60
3   2006-03-02          60.6667
6   2006-03-03          75.6667
9   2006-03-04          70.6667
12  2006-03-05               77
15  2006-03-06          78.3333
18  2006-03-07          86.6667
21  2006-03-08          84.6667
24  2006-03-09          79.3333
27  2006-03-10               77

In [12]:
new_df.to_csv('dataset_humedad_promediada.csv')